@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
.App {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.App-logo {
    pointer-events: none;
}


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.text-align-r {
    text-align: right;
}

.text-align-l {
    text-align: left;
}

.justify-between {
    justify-content: flex-end;
}

.flex-column {
    flex-direction: column;
}

.full-page {
    //background-color: #282c34;
    font-size: calc(10px + 2vmin);
    color: white;
}

.align-r {
    align-items: center;
    justify-content: center;
}

.u-background {
    background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0px;
    color: rgba(255, 255, 255, .8);
}

.cube {
    z-index: 0;
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px rgba(255, 255, 255, .45);
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
}

.cube:nth-child(2n) {
    border-color: rgba(255, 255, 255, .35);
    ;
}

.slide {
    font-size: 1.4em;
    line-height: 1.6em;
}

b {
    font-size: 1.2em;
    color: #ffe1ca;
}

.cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
}

.cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
}

.cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
}

.cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
}

.cube:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
}

.content {
    padding: 100px 12vw;
}

.full-page {
    height: 100vh;
    width: 100vw;
}

.App-link {
    color: #61dafb;
}

h1 {
    color: rgb(255 255 255 / 83%)
}

#me img {
    border: 8px solid #50597b;
    border-radius: 100%;
    width: 30vmin;
    height: 30vmin;
}

#reviews img {
    width: 75vw;
    height: 75vh;
    object-fit: contain;
}

.about p {
    padding-top: 10vmin;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
}


/* Tooltip text */

.tooltip .tooltip-text {
    visibility: hidden;
    width: 20vw;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}


/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltip-text {
    visibility: visible;
}

@mixin dots($count) {
    $text-shadow: ();
    @for $i from 0 through $count {
        $text-shadow: $text-shadow, (-.5+(random()) * 3) + em (-.5+(random()) * 3) + em 7px hsla(random() * 360, 100%, 50%, .9);
    }
    text-shadow: $text-shadow;
}

html {
    font: 5vmin/1.3 Serif;
    overflow: hidden;
    background: #11003c;
}

body,
head {
    display: block;
    font-size: 52px;
    color: transparent;
}

// head::before,
// head::after,
// body::before,
// body::after {
//     position: fixed;
//     top: 50%;
//     left: 50%;
//     width: 3em;
//     height: 3em;
//     content: '.';
//     mix-blend-mode: screen;
//     animation: 100s -235s move infinite ease-in-out alternate;
// }
body::before {
    @include dots(40);
    animation-duration: 100s;
    animation-delay: -235s;
}

body::after {
    @include dots(40);
    animation-duration: 99s;
    animation-delay: -32s;
}

head::before {
    @include dots(40);
    animation-duration: 9200s;
    animation-delay: -185s;
}

head::after {
    @include dots(40);
    animation-duration: 935s;
    animation-delay: -19s;
}

.ad {
    text-align: left;
    display: inline;
    line-height: 1.3em;
    font-size: 1.5em;
    width: 10em;
    text-indent: .1em;
}

h1 {
    text-align: right;
}

.no-link {
    cursor: pointer;
}

ul {
    font-size: calc(8px + 2vmin);
    list-style: none;
}

a {
    color: white;
    font-size: 1.4em;
    text-align: left;
}

#me a {
    color: black;
    text-decoration: none;
}

#me a {
    background: #9da5ff;
}

#me a:nth-child(2) {
    background: #ffed9c;
}

#me a:nth-child(3) {
    background: #b0ffe8;
}

#me footer a {
    background: rgb(243, 189, 255);
}

@keyframes move {
    from {
        transform: rotate(0deg) scale(12) translateX(-20px);
    }
    to {
        transform: rotate(360deg) scale(18) translateX(20px);
    }
}

@keyframes rotateWord {
    0% {
        opacity: 0;
    }
    2% {
        opacity: 0;
        transform: translateY(-30px);
        transform: translateY(-30px);
    }
    5% {
        opacity: 1;
        transform: translateY(0px);
        transform: translateY(0px);
    }
    17% {
        opacity: 1;
        transform: translateY(0px);
        transform: translateY(0px);
    }
    20% {
        opacity: 0;
        transform: translateY(30px);
        transform: translateY(30px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.light {
    position: absolute;
    width: 0px;
    opacity: .75;
    background-color: white;
    box-shadow: #e9f1f1 0px 0px 20px 2px;
    opacity: 0;
    top: 100vh;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

@-webkit-keyframes floatUp {
    0% {
        top: 100vh;
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        top: 0vh;
        opacity: .8;
    }
    75% {
        opacity: 1;
    }
    100% {
        top: -100vh;
        opacity: 0;
    }
}

@-moz-keyframes floatUp {
    0% {
        top: 100vh;
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        top: 0vh;
        opacity: .8;
    }
    75% {
        opacity: 1;
    }
    100% {
        top: -100vh;
        opacity: 0;
    }
}

@-o-keyframes floatUp {
    0% {
        top: 100vh;
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        top: 0vh;
        opacity: .8;
    }
    75% {
        opacity: 1;
    }
    100% {
        top: -100vh;
        opacity: 0;
    }
}

@keyframes floatUp {
    0% {
        top: 100vh;
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        top: 0vh;
        opacity: .8;
    }
    75% {
        opacity: 1;
    }
    100% {
        top: -100vh;
        opacity: 0;
    }
}

.x1 {
    -webkit-animation: floatUp 20s infinite linear;
    -moz-animation: floatUp 20s infinite linear;
    -o-animation: floatUp 20s infinite linear;
    animation: floatUp 20s infinite linear;
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -o-transform: scale(1.0);
    transform: scale(1.0);
}

.x2 {
    -webkit-animation: floatUp 35s infinite linear;
    -moz-animation: floatUp 35s infinite linear;
    -o-animation: floatUp 35s infinite linear;
    animation: floatUp 35s infinite linear;
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
    left: 15%;
}

.x3 {
    -webkit-animation: floatUp 65s infinite linear;
    -moz-animation: floatUp 65s infinite linear;
    -o-animation: floatUp 65s infinite linear;
    animation: floatUp 65s infinite linear;
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -o-transform: scale(.5);
    transform: scale(.5);
    left: -15%;
}

.x4 {
    -webkit-animation: floatUp 185s infinite linear;
    -moz-animation: floatUp 185s infinite linear;
    -o-animation: floatUp 185s infinite linear;
    animation: floatUp 185s infinite linear;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    left: -34%;
}

.x5 {
    -webkit-animation: floatUp 200s infinite linear;
    -moz-animation: floatUp 200s infinite linear;
    -o-animation: floatUp 200s infinite linear;
    animation: floatUp 200s infinite linear;
    -webkit-transform: scale(2.2);
    -moz-transform: scale(2.2);
    -o-transform: scale(2.2);
    transform: scale(2.2);
    left: -57%;
}

.x6 {
    -webkit-animation: floatUp 85s infinite linear;
    -moz-animation: floatUp 85s infinite linear;
    -o-animation: floatUp 85s infinite linear;
    animation: floatUp 85s infinite linear;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);
    left: -81%;
}

.x7 {
    -webkit-animation: floatUp 30s infinite linear;
    -moz-animation: floatUp 30s infinite linear;
    -o-animation: floatUp 30s infinite linear;
    animation: floatUp 30s infinite linear;
    -webkit-transform: scale(3.2);
    -moz-transform: scale(3.2);
    -o-transform: scale(3.2);
    transform: scale(3.2);
    left: 37%;
}

.x8 {
    -webkit-animation: floatUp 21s infinite linear;
    -moz-animation: floatUp 21s infinite linear;
    -o-animation: floatUp 21s infinite linear;
    animation: floatUp 21s infinite linear;
    -webkit-transform: scale(1.7);
    -moz-transform: scale(1.7);
    -o-transform: scale(1.7);
    transform: scale(1.7);
    left: 62%;
}

.x9 {
    -webkit-animation: floatUp 20s infinite linear;
    -moz-animation: floatUp 20s infinite linear;
    -o-animation: floatUp 20s infinite linear;
    animation: floatUp 20s infinite linear;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    left: 85%;
}

button:focus {
    outline: none;
}


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}